@page
@model PrivacyModel
@{
    ViewData["Title"] = "Doggy";
}



<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <img src="images/dog.jpg" alt="Cute dog" width="600" height="600"
</div>
<div class="text-center">
    <h1 class="display-4">Dogs Bark</h1>
</div>