@page
@model IndexModel
@{
    ViewData["Title"] = "Kitty";
}

@{
    var imagePath = @"images\cat.jpg";
}

<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <img src="@imagePath" alt="Cute Cat" width="450" height="600>
</div>

<div class="text-center">
    <h1 class="display-4">Cats Maow</h1>
</div>
